version: '3.8'

services:
  openspeedtest:
    image: openspeedtest/latest
    container_name: openspeedtest
    restart: unless-stopped
    ports:
      - "3004:3000"
    volumes:
      - H:/Docker/openspeedtest:/data
