services:
  yamtrack:
    container_name: yamtrack
    image: ghcr.io/fuzzygrim/yamtrack
    restart: unless-stopped
    depends_on:
      - redis
    environment:
      - TZ=Asia/Dhaka
      - SECRET= #generate openssl rand -base64 48
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./db:/DATA/AppData/yamtrack/db
    ports:
      - "4003:8000"

  redis:
    container_name: yamtrack-redis
    image: redis:8-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  redis_data: